*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}



body {
    margin: 0;
    background-color: #eed8dc;
 
}
@media handheld, only screen and (max-width: 500px) {
    .peluquera {
        display: none !important;
    }
}



/*index header*/
nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 20px;
   
}
nav a {
    text-decoration: none;
    color: #dc143c;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
}

nav a:hover {
    color: #ca5e74;
}

.encabezado {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.1)
    )
    ,url(../Images/foto-portada.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #dfacb6;
    display: flex;
    align-items: start;
    text-align: center;
    flex-direction: column;
    height: 50vh;
}



.encabezado h1 {
    font-family: 'Sigmar', cursive;
    font-size: 3rem;
    text-align: right;
    color:#dc143c;



}
.encabezado h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    text-align: center;
    color:#dc143c;
}

/* index presentación */
.presentación {
    font-family: 'Righteous', cursive;
    font-size: 1.5rem;
    color: #dc143c;
    margin: 3%;
    border-bottom: 3px solid #dc143c;
    border-top: 3px solid #dc143c;
    display: flex;
    align-items: start;
    text-align: center;
    flex-direction: column;
}
.container2 img {
    width: 20rem;
    border-radius: 5%;
    margin-top: 1%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
}

/*servicios*/

.servicios {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 2rem;
    color: black;
    text-align: center;
    margin-top: 3rem;
}


.servicio1 {
    width: 20rem;
    height: 15rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    background-color: #f8e8f5;
    border-radius: 80%;
    text-align: center;
    border: 2px dotted black;
}
.imgserv1 {
    margin-left: 2.5rem;
}


.servicio2 {
    width: 20rem;
    height: 15rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    background-color: #f8e8f5;
    border-radius: 80%;
    text-align: center;
    border: 2px dotted black;
}
.imgserv2 {
    margin-left: 2.5rem;
}

.servicio3 {
    width: 20rem;
    height: 15rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    background-color: #f8e8f5;
    border-radius: 80%;
    text-align: center;
    border: 2px dotted black;

}
.imgserv3 {
    margin-left: 2.5rem;
}


/*tarifas*/


#descripción-tarifas {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 2rem;
    text-align: left;
    color: black;
    text-align: center;
}



#tarifash3 {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 2rem;
    text-align: center;
    color: black;
    margin-top: 3rem;
}

#nota {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 1.3rem;
    text-align: center;
    
}
#imgtarifa3 {
    border: 3px solid black;
}

.cartas {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}


/* mis trabajos */

#trabajosh3 {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 3rem;
    text-align: center;
    color: black;
    margin-top: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(6, 1fr);

}
.grid-container img {

    width: 100%;
    height: 100%;
    border: 3px solid rgb(15, 11, 5);
}

.item1 {
    grid-row: 1/3;
    grid-column: 1/3;
}

.item6 {
    grid-row: 4/6;
    grid-column: 2/4;
}
.item10 {
    grid-row: 6/8;
    grid-column: 1/3;
}

/*contactos*/

#contactos {
    font-family: 'Indie Flower', cursive;
    font-size: 45px;
    text-align: left;
    color: #dc143c;
    margin-left: 2rem;
    margin-right: 2rem;
}

#contactosh3 {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 3rem;
    color: black;
    text-align: center;
    margin-top: 3rem;
    
}
body iframe {
    border-radius: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 1px solid black !important;
}

#contactos ul li {
    list-style-type: none;
    text-align: center;
    
}



/*footer*/

footer {
    border-top: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 3%;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.1)
    )
    ,url(../Images/fondofooter.png);
    background-repeat:repeat;
    background-size: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

footer ul li{
    margin-top: 1%;
    margin-bottom: 5%;
}
footer iframe {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 20%;
    margin-bottom: 1%;
    margin-left: 0%;


}

footer a {
    font-family: 'Righteous', cursive;
    font-weight: bold;
    text-decoration: none;
    color: #dc143c;
    
}
.ubi {
    font-family: 'Righteous', cursive;
    font-size: auto;
    color: #dc143c;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 80%;
    margin-left: 20%;
    grid-column: 1/2;
    grid-row: 2/3;

}

    
.redes {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    margin-left: 20%;
    margin-top: 20%;
    margin-bottom: 5%;
    list-style-type: none;
    grid-column: 1/2;
    grid-row: 1/2;

}


