//VARIABLES
//color principal fuentes
$color-principal: #dc143c;
//color fondo página
$color-fondo: #eed8dc;
//fuentes principales
$fuente-1: 'Indie Flower', cursive;
$fuente-2: 'Sue Ellen Francisco', cursive;