
body {
    #contactosh3 {
        @include titles;
        text-align: center;
        
    }
    #contactos {
        ul li {
            list-style-type: none;
            text-align: center;
            margin-top: 1.5rem;
        }
        img {
            margin: 1%;
        }
        
    }
    iframe {
        border-radius: 5rem;
        margin-top: 3rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        border: 1px solid black !important;

    }

}
