@media only screen and (min-width: 768px) {
    .encabezado {
       padding-bottom: 55%;
    }
    .encabezado h1 {
        font-size: 4rem !important;
        margin-top: 1rem;
    }
    .encabezado h2 {
        font-size: 3.5rem !important;
        margin-top: 1rem;
    }
    .navegador {
        font-size: 2rem !important;
        text-align: right;
    }
    #navboots {
        font-size: 2rem !important;
    }
    #navboots ul li {
        margin-right: 3rem;
        margin-left: 3rem;
    }
    footer iframe {
        width: 500px;
        height: 150px !important;
        margin-top: 100px !important;
       }
    .ubi {
        margin-top: 100px !important;
        font-size: 25px !important;
    }   
    footer {
        background-repeat: no-repeat !important;
        height: 50rem !important;
    }

    footer ul li {
        list-style-image: url(../Images/huella-de-perro.png);
        list-style-position: square inside;
        margin-left: 2rem !important;
        
    }
    footer ul li a {
        font-size: 20px;
    }
    #descripción-servicios {
        text-align: center;
        
    }
    #descripción-servicios img {
        width: 500px !important;
        height: 450px;
    }
    #imgtarifa3 {
        width: 50rem !important;
        margin-left: 5rem !important;
    }
    #nota {
        font-size: 3rem !important;
    }
    .cartas {
        margin-left: 15rem !important;
       
    }
    #contactos img {
            margin-left: 18% !important;
            margin-right: 18% !important;
        }
    #contactos ul li {
        margin-left: 11rem !important;
    }
    #contactos iframe {
        width: 700px;
        margin: 30px;
    }


}